In [19]:
import pandas as pd
import geopandas as gpd

In [20]:
unions = gpd.read_file('../../preprocessing/geodata/maps/dist/uni/uni-c005-s020-vw-pr.geojson')
mouzas = gpd.read_file('../../preprocessing/geodata/maps/dist/mou/mou-c005-s020-vw-pr.geojson')

In [26]:
unions['region_key'] = unions['div'] + '-' + unions['dis'] + '-' + unions['upa'] + '-' + mouzas['uni']
mouzas['region_key'] = mouzas['div'] + '-' + mouzas['dis'] + '-' + mouzas['upa'] + '-' + mouzas['uni'] + '-' + mouzas['mou']

In [27]:
unions.sort_values(by=['region_key'], inplace=True)
mouzas.sort_values(by=['region_key'], inplace=True)

In [28]:
def number_region_keys(df):
    prev_region_key = ''
    region_key_index = 0
    region_key_indexes = []
    for i, row in df.iterrows():
        if row['region_key'] != prev_region_key:
            region_key_index += 1
            prev_region_key = row['region_key']
        region_key_indexes.append(region_key_index)
    return region_key_indexes

unions['region_key_index'] = number_region_keys(unions)
mouzas['region_key_index'] = number_region_keys(mouzas)

In [49]:
# how many regions have duplicate keys
mrkivc = mouzas['region_key_index'].value_counts()
urkivc = unions['region_key_index'].value_counts()

print(len(mrkivc[mrkivc > 1]))
print(len(urkivc[urkivc > 1]))

288
174

,area,uni,upa,dis,div,geometry,region_key,region_key_index
139,0.003604,Amtali,Amtali,Barguna,Barisal,"MULTIPOLYGON (((90.26177 22.12995, 90.26153 22...",Barisal-Barguna-Amtali-Bara Palashbari,1
2802,0.003158,Kukua,Amtali,Barguna,Barisal,"MULTIPOLYGON (((90.29924 22.24284, 90.2993 22....",Barisal-Barguna-Amtali-Baura,2
510,0.003742,Barabagi,Amtali,Barguna,Barisal,"MULTIPOLYGON (((90.13209 21.9942, 90.13292 21....",Barisal-Barguna-Amtali-Dangi Para,3
4517,0.002120,Sonakata,Amtali,Barguna,Barisal,"MULTIPOLYGON (((90.08972 21.9048, 90.09014 21....",Barisal-Barguna-Amtali-Darbasta,4
3631,0.002181,Pancha Koralia,Amtali,Barguna,Barisal,"MULTIPOLYGON (((90.1855 22.08414, 90.18581 22....",Barisal-Barguna-Amtali-Gunaigachh,5